<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Nebo</string>
	<key>CFBundleDisplayName</key>
	<string>Nebo</string>
	<key>CFBundleIdentifier</key>
	<string>dev.nebolabs.nebo</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>nebo</string>
	<key>CFBundleIconFile</key>
	<string>nebo</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nebo needs microphone access for voice input</string>
	<key>NSCameraUsageDescription</key>
	<string>Nebo needs camera access for video capture</string>
</dict>
</plist>
