[Desktop Entry]
Name=Nebo
Comment=Personal Desktop AI Companion
Exec=nebo
Icon=nebo
Terminal=false
Type=Application
Categories=Utility;Development;
StartupWMClass=nebo
